{% extends "layout/base.html" %}
{% load static %}


{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-7">Face recognize cloud!</h1>
        <p class="lead">You can use face recognize to get authentication.</p>
        <hr class="my-4">
        <div class=" row justify-content-center">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign up</a>
            </p>
        </div>
        <div class=" row justify-content-center">
            <p>Already sign up? <a href="{% url 'login' %}">Login</a>  here</p>
        </div>
    </div>
{% endblock %}